footer  {
    background: #b8b8b8;

    display: flex;
    align-items: flex-start;

    padding: 2vh 2vw 5vh 2vw;
}

footer div  {
    font-size: 2.5rem;

    padding: 2vw;
}

footer h2   {
    text-decoration: underline;

    margin-bottom: 1.5vh;
}


footer img {
    height: 2rem;
}

/* To  make icons go in same line as text */
footer li *   {
    display: inline;
}


@media screen and (orientation: portrait) {

    footer div  {
        font-size: 3.78vw;
    
        padding: 2vw;
    }

    footer img  {
        height: 3.7vw;
    }
}