.nav    {
    width: auto;
    height: auto;

    position: fixed;
    left: 1vw;
    bottom: 2vw;
}

.nav li {
    margin-bottom:5vh;
}

.nav a  {
    background: #000000;
    color: #fff;

    font-size: 2rem;

    padding: 2vh;
    margin-left: .5rem;
    border-radius: .5vh 1.5vh;

    visibility: hidden;
}




.nav li:hover a {
    visibility: visible;
}

.nav li a:before {
    background: #000000ca;
    content: "";

    float: left;

    width: 3vw;
    height: 3vw;

    border-radius: 100px;

    visibility: visible;
}