@import url(nav.css);
@import url(ideal.css);
@import url(education.css);
@import url(certificates.css);
@import url(footer.css);

*   {
    list-style: none;
    text-decoration: none;
    gap: 0;

    width: auto;
    height: auto;

    border: 0;
    padding: 0;
    margin: 0;
}


body    {
    background: #10a962;
}

body > *    {
    min-height: 100vh;
}


header  {
    background: url(../img/20210701_184204.jpg) no-repeat center, #fff;
    background-size: cover;
    display: flex;

    height: 100vh;
}

h1  {
    background: rgba(123, 123, 123, 0.418);
    color: #fff;

    font-size: 3rem;
    
    position: absolute;
    left: 3vw;
    top: 10vh;

    padding: 3vw;
    border-radius: .2vh;
}




@media screen and (orientation: portrait) {
    .nav    {display: none;}
}